[user]
	name = boltac-tp
	email = boltac.tp@gmail.com
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	ff = false
	conflictstyle = diff3
[difftool "vimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
	prompt = false
[mergetool "vimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
	prompt = false
[pull]
	ff = only
[alias]
	plog=log --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)[%an] %C(reset)%s %C(red)%d' --date=iso -n10
	graph=log --graph --oneline --decorate=full -20 --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)'
[fetch]
	prune = true
